*
{
    flex: 4;
}
h3
{
    font-size: 40px;
    margin: 50px;
    
}
.employee_table
{
    background-color: rgb(190, 162, 255);
    display: flex;
    border-radius: 30px;
    margin: 10px;
    padding: 40px;

}
.button
{
    cursor: pointer;
    text-align: center;
    display: flex;
    
}
.add
{
    cursor: pointer;
    text-align: center;
    display: inline-block;
    background-color: rgb(172, 172, 250);
    padding: 10px;
    border-radius: 30px;
    float: right;
    margin-right: 30px;
}
.close
{
    float: right;
    margin-right: 30px;
}
.block1
{
    display: inline;
    margin: 30px;

}
.block2
{
    display: inline;
    margin: 30px;

}
.form
{
    display: flex;
}
