.topbar
{
    width: 100%;
    height: 50px;
    background-color: white;
}
.topbarWrapper
{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo
{
    font-weight: bold;
    color: #1F4172;
    font-size: 30px;
}
.topRight
{
    display: flex;
    align-items: center;
}
.topAvatar
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 15px;

}
.icon
{
    font-size: medium;
    font-weight: bold;
    color: #1F4172;
}